h1 {
  font-size: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  line-height: 50px;
}
h2 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 75px;
}

.connectionText {  
  font-size: 14px;
  text-align: left;
  padding: 1em;
  
  font-family: Arial, Helvetica, sans-serif;  
  color: white;
}

.Hbox {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;

  width: 785px;
}

.container {
  text-align: center;
  margin-top: 15px;
}

.executeButton {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
  background: #0d6dea;
  width: 100px;
  padding: 10px;
  color: #ffff;
  border-radius: 15px;
  border-color: transparent;
  cursor: pointer;
  
  margin-left: 10px;
  transition: all 0.2s;
}

.executeButton:hover, .executeButton:focus, .executeButton:active{
  background: #0c62d3;
  color: #e6e6e6;
}

.clearButton {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
  background: #d72239;
  width: 100px;
  padding: 10px;
  text-align: center;
  color: #ffff;
  border-radius: 15px;
  border-color: transparent;
  cursor: pointer;
  
  
  transition: all 0.2s;
}

.clearButton:hover, .clearButton:focus, .clearButton:active{
  background: #c21f33;
  color: #e6e6e6;
}

.executionContainer {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  opacity: 0.7;
  
  background: #5a5a5a; /*initial*/
  
  border-radius: 15px;
  width: 785px;
  height: auto;
}

.executionContainerGood {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.7;

  background: #007144;  /*successful*/

  border-radius: 15px;
  width: 785px;
  height: auto;
}

.executionContainerBad {
  display: block;
  margin-right: auto;
  margin-left: auto;

  opacity: 0.7;
  background: #dc4b48; /*unsuccessful*/

  border-radius: 15px;
  width: 785px;
  height: auto;
}

.executionText {
  font-size: 14px;
  text-align: left;
  padding: 1em;;
  line-height: 1.5;

  font-family: Arial, Helvetica, sans-serif;  
  color: white;
}

.connectionContainer {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  
  opacity: 0.4;
  background: #8d8d8d;
  border-radius: 15px;
  width: 785px;
  height: auto;
}



.forms {
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
  background-color: #181e30;
  
  padding: 1em;
  border-radius: 15px;
  
  margin-bottom: 25px;
}

input, label {
    block: inline;
    margin:5px;
}

.form-inline {
  display: inline-block;
}

.form-inline input{
  input-layout: fixed;
  font-size: 14px;
  padding: 10px;
  height: auto;
  width: 150px;
  background-color: #c9c9c9;
  
  border: none;
  outline: none;
  resize: none;
  
  border-radius: 5px;
}

.form-inline input:focus{
  background-color: #fbfbfb;
}
.form-inline input:hover{
  background-color: #fbfbfb;
}

.form-inline label{
  display: block;
  color: #bdbfc7;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -3px;
}
