h1 {
  font-size: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  line-height: 50px;
}
h2 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 75px;
}

textarea {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  outline: none;
  resize: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 500px;
  transition: all 0.2s;
  

  width: 750px;
  height: 200px;  
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
}

.Hbox {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;

  width: 785px;
}
.container {
  text-align: right;
  margin-top: 5px;
}

.executeButton {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
  background: #0d6dea;
  width: 100px;
  padding: 10px;
  color: #ffff;
  border-radius: 15px;
  border-color: transparent;
  cursor: pointer;
  
  transition: all 0.2s;
}

.executeButton:hover, .executeButton:focus, .executeButton:active{
  background: #0c62d3;
  color: #e6e6e6;
}

.clearButton {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
  background: #d72239;
  width: 100px;
  padding: 10px;
  text-align: center;
  color: #ffff;
  border-radius: 15px;
  border-color: transparent;
  cursor: pointer;
  
  
  transition: all 0.2s;
  
}

.clearButton:hover, .clearButton:focus, .clearButton:active{
  background: #c21f33;
  color: #e6e6e6;
}

.resetButton {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
  background: #e54128;
  width: 110px;
  padding: 10px;
  text-align: center;
  color: #ffff;
  border-radius: 15px;
  border-color: transparent;
  cursor: pointer;
  
  transition: all 0.2s;
  
  margin-right: 465px;
}

.resetButton:hover, .resetButton:focus, .resetButton:active{
  background: #951a95;
  color: #e6e6e6;
}

.executionContainer {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  
  opacity: 0.7;
  
  /*background: #5a5a5a;*/ /*initial*/
  background: #007144;  /*successful*/
  /*background: #dc4b48;*/ /*unsuccessful*/
  
  border-radius: 15px;
  width: 785px;
  height: auto;
}

.executionText {
  font-size: 14px;
  text-align: left;
  padding: 1em;;
  line-height: 1.5;
  
  
  font-family: Arial, Helvetica, sans-serif;  
  color: white;
}

.tableResult {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  
  background: #e54128;
  border-radius: 15px;
  width: 785px;
  height: auto;
}


.content-table {
  table-layout: fixed;
  width: 100%;
  
  font-family: Arial, Helvetica, sans-serif;  
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 14px;
  min-width: 400px;
  border-radius: 15px;
  overflow: hidden;
}

.content-table tbody tr:hover {
  font-weight: bold;
  color: #e54128;
}


.content-table thead tr {
  background-color: #e54128;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  background-color: #e6e6e6;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #cccccc;
}

.connectionContainer {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  
  opacity: 0.4;
  background: #8d8d8d;
  border-radius: 15px;
  width: 785px;
  height: auto;
}

.connectionText {
  font-size: 14px;
  text-align: left;
  padding: 1em;

  font-family: Arial, Helvetica, sans-serif;  
  color: white;
}